# .editorconfig

# Top-most EditorConfig file
root = true

# Default root settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Specific settings for different file types
[*.css]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
